body {
    background-color: cornsilk;
}

h2 {
    color: crimson;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.myTextBox {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 25%;
    left: 30%;

}

.chirpButton {

    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
}

